# Follow-Up Message Template

Hi,

I wanted to follow up on my application and check whether there are any updates on the process. I remain interested in roles aligned with {{TARGET_ROLE_FAMILY}} and would be glad to share any additional information if helpful.

Best regards,
{{FULL_NAME}}
