full_name: "{{FULL_NAME}}"
target_role_family: "{{TARGET_ROLE_FAMILY}}"
email: "{{EMAIL}}"
phone: "{{PHONE}}"
location: "{{LOCATION}}"
linkedin_url: "{{LINKEDIN_URL}}"
portfolio_url: "{{PORTFOLIO_URL}}"
pdf_resume_basename: "{{PDF_RESUME_BASENAME}}"
pdf_cover_letter_basename: "{{PDF_COVER_LETTER_BASENAME}}"
default_language: "{{DEFAULT_LANGUAGE}}"
